body {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    font-size: 14px;
    color: #24292e;
    background-color: black;
}

.row {
    display: flex;
    background-color: white;
   
}

.noteFormContainer{
    border-style: solid;
    font-size: 12pt;
    min-width: 25.55em;
    background-color: #5cc5fa;
    margin-top: -.2em;
}

#note-text{
    width: 28em;
    margin-left: 1em;
    margin-top: 1em;
}

.criminalsContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    background-color: white;

}

.card-criminal{
    border: 1px;
    border-color: lightgray;
    border-style: solid;
    width: 25em;
    height: auto;
    text-align: left;
    margin-right: 1em;
    margin-left: 1em;
    line-height: 3px;
    margin-top: 1em;
    background-color: #f0bdbd;
    
}

ul {
    list-style-type: none;
  }

.filters {
    display: flex;
    flex-direction: row;
    margin-top: 2em;
}

.dropdown {
    margin-right: 3em;
    width: 14em;
}

