body {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    font-size: 14px;
    color: #24292e;
    background-color: black;
}

.row {
    display: flex;
    margin-top: 2em;

}

.noteFormContainer{
    display: flex;
    flex-flow: row wrap;
    border-style: solid;
    font-size: 12pt;
    min-width: 29em;
    background-color: #2492FF;
    color: white;
}

.criminalsContainer {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;   
    background-color:  white
    
}

.card-criminal{
    border: 1px;
    border-color: lightgray;
    border-style: solid;
    width: 25em;
    height: auto;
    text-align: left;
    margin-right: 1em;
    margin-left: 1em;
    line-height: 3px;
    margin-top: 1em;
    background-color: lightcoral;
    
}

ul {
    list-style-type: none;
    
  }

.filters {
    display: flex;
    flex-direction: row;
}

.dropdown {
    margin-right: 3em;
}

